@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-base: #ffffff;
    --bg-base-hover: #fafaf9;
    --bg-back: #fafaf9;
    --bg-back-hover: #f5f5f4;
    --bg-front: #ffffff;
    --bg-front-hover: #fafaf9;
    --bg-el: #f5f5f4;
    --bg-el-hover: #eeedec;
    --bg-el-active: #e7e5e4;
    --bg-el-subtle: #ffffff;
    --bg-el-subtle-hover: #f5f5f4;
    --bg-el-subtle-active: #ffffff;
    --border-base: #e7e5e4;
    --border-base-strong: #d6d3d1;
    --border-back: #e7e5e4;
    --border-back-strong: #d6d3d1;
    --border-front: #e7e5e4;
    --border-front-strong: #d6d3d1;
    --text-primary: #171717;
    --text-secondary: #404040;
    --text-subtle: #78716c;
  }

  .dark {
    --bg-base: #0e0f0f;
    --bg-base-hover: #141515;
    --bg-back: #1a1e23;
    --bg-back-hover: #1d2228;
    --bg-front: #1a1b1b;
    --bg-front-hover: #212830;
    --bg-el: #1d1d21;
    --bg-el-hover: #2a313c;
    --bg-el-active: #313741;
    --bg-el-subtle: #20262e;
    --bg-el-subtle-hover: #212830;
    --bg-el-subtle-active: #232b34;
    --border-base: #24252a;
    --border-base-strong: #4e5660;
    --border-back: #2a313c;
    --border-back-strong: #313741;
    --border-front: #313741;
    --border-front-strong: #4e5660;
    --text-primary: #ffffff;
    --text-secondary: #d1d5db;
    --text-subtle: #9ca3af;
  }
}

.ce-block__content,
.ce-toolbar__content {
  max-width: unset !important;
  width: 100%;
}

.cdx-block {
  max-width: unset !important;
  width: 100%;
}
.hfix {
  height: 100dvh;
}

.hcontainer {
  height: calc(100dvh - 48px - 57px);
}
@media (min-width: 651px) {
  .codex-editor--narrow .ce-toolbar__actions {
    right: 100%;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.ce-popover__items::-webkit-scrollbar {
  display: none;
}

.dark .ce-block--selected .ce-block__content,
.dark .ce-inline-toolbar,
.dark .codex-editor--narrow .ce-toolbox,
.dark .ce-conversion-toolbar,
.dark .ce-settings,
.dark .ce-settings__button,
.dark .ce-toolbar__settings-btn,
.dark .cdx-button,
.dark .ce-popover,
.dark .ce-toolbar__plus:hover {
  background: theme("colors.base.DEFAULT");
  color: inherit;
  border-color: theme("colors.stroke.base.DEFAULT");
}

.dark .ce-inline-tool,
.dark .ce-conversion-toolbar__label,
.dark .ce-toolbox__button,
.dark .cdx-settings-button,
.dark .ce-toolbar__plus {
  color: inherit;
}

.dark .ce-popover-item {
  color: theme("colors.shade.primary");
}

.dark .ce-popover-item__icon,
.dark .ce-conversion-tool__icon {
  color: theme("colors.shade.primary");
  background-color: theme("colors.back.DEFAULT");
  box-shadow: none;
}

.dark .cdx-search-field {
  border-color: theme("colors.stroke.base.DEFAULT");
  background: theme("colors.el.subtle.DEFAULT");
  color: inherit;
}

.dark ::selection {
  background: theme("colors.el.subtle.active");
}

.dark .cdx-settings-button:hover,
.dark .ce-settings__button:hover,
.dark .ce-toolbox__button--active,
.dark .ce-toolbox__button:hover,
.dark .cdx-button:hover,
t .dark .ce-inline-toolbar__dropdown:hover,
.dark .ce-inline-tool:hover,
.dark .ce-popover-item:hover,
.dark .ce-conversion-tool:hover,
.dark .ce-toolbar__settings-btn:hover {
  background-color: theme("colors.el.subtle.hover");
  color: theme("colors.shade.primary");
}

.dark .cdx-notify--error {
  background: theme("colors.red.500") !important;
}

.dark .cdx-notify__cross::after,
.dark .cdx-notify__cross::before {
  background: white;
}
